In [1]:
from metafid.deriv import Pricing
from metafid.deriv import OptionStrategy
import pandas as pd

In [2]:
meta = pd.read_excel("meta.xlsx")
meta

    ticker  o_ticker     ex_date  strike_price  type
0     اهرم  ضهرم7011  1402-07-23         16000  call
1     اهرم  ضهرم7008  1402-07-23         13000  call
2     اهرم  ضهرم1205  1401-12-22         11000  call
3     اهرم  ضهرم1211  1401-12-22         18000  call
4     اهرم  ضهرم1207  1401-12-22         13000  call
..     ...       ...         ...           ...   ...
295  وبملت  ضملت3022  1402-03-28          2598  call
296  وبملت  ضملت3023  1402-03-28          2784  call
297  وبملت  ضملت3024  1402-03-28          2969  call
298  وبملت  ضملت3025  1402-03-28          3341  call
299  وبملت  ضملت3027  1402-03-28          4083  call

[300 rows x 5 columns]

In [3]:
bsm = Pricing()
df = bsm.bs(meta)

In [4]:
columns = ["j_date", "ticker","o_ticker", "t", "bs", "strike_price"] + [i for i in df.columns if "adj" in i]
df = df[columns][df.o_adj_final > 0]
df.head()

,j_date,ticker,o_ticker,t,bs,strike_price,adj_open,adj_high,adj_low,adj_close,adj_final,o_adj_open,o_adj_high,o_adj_low,o_adj_close,o_adj_final
4770,1401-05-29,اهرم,ضهرم1205,205,1761.631301,11000.0,10980,10990,10570,10600,10780,1700.0,1700.0,1000.0,1000.0,1351.0
4774,1401-05-29,اهرم,ضهرم1204,205,2371.797403,10000.0,10980,10990,10570,10600,10780,2230.0,2230.0,2230.0,2230.0,2230.0
4779,1401-05-29,اهرم,ضهرم1201,205,4285.095188,7500.0,10980,10990,10570,10600,10780,4300.0,4599.0,4300.0,4599.0,4301.0
4802,1401-05-30,اهرم,ضهرم1205,204,1567.048931,11000.0,10690,10830,10410,10510,10570,1499.0,1499.0,1499.0,1499.0,1499.0
4805,1401-05-30,اهرم,ضهرم1208,204,465.967715,14000.0,10690,10830,10410,10510,10570,700.0,700.0,700.0,700.0,700.0

In [6]:
o_strategy = OptionStrategy()
df_ = o_strategy.covered_call(df)
df_.to_excel("rep_o_strategy.xlsx")
df_